# crashdetect snippets for Atom converted from Sublime Completions converted from https://github.com/Southclaw/pawn-sublime-language
# Converter created by Renato "Hii" Garcia
# Repo: https://github.com/Renato-Garcia/sublime-completions-to-atom-snippets
'.source.pwn, .source.inc':
  'PrintAmxBacktrace':
    'prefix': 'PrintAmxBacktrace'
    'body': 'PrintAmxBacktrace()'
    'description': 'Function from: crashdetect'
    'descriptionMoreURL': 'https://github.com/Zeex/samp-plugin-crashdetect'

  'PrintNativeBacktrace':
    'prefix': 'PrintNativeBacktrace'
    'body': 'PrintNativeBacktrace()'
    'description': 'Function from: crashdetect'
    'descriptionMoreURL': 'https://github.com/Zeex/samp-plugin-crashdetect'

  'GetAmxBacktrace':
    'prefix': 'GetAmxBacktrace'
    'body': 'GetAmxBacktrace(${1:string[]}, ${2:size = sizeof(string})'
    'description': 'Function from: crashdetect'
    'descriptionMoreURL': 'https://github.com/Zeex/samp-plugin-crashdetect'

  'GetNativeBacktrace':
    'prefix': 'GetNativeBacktrace'
    'body': 'GetNativeBacktrace(${1:string[]}, ${2:size = sizeof(string})'
    'description': 'Function from: crashdetect'
    'descriptionMoreURL': 'https://github.com/Zeex/samp-plugin-crashdetect'

  'OnRuntimeError':
    'prefix': 'OnRuntimeError'
    'body': 'OnRuntimeError(${1:code}, ${2:bool:suppress})'
    'description': 'Function from: crashdetect'
    'descriptionMoreURL': 'https://github.com/Zeex/samp-plugin-crashdetect'

  'IsCrashDetectPresent':
    'prefix': 'IsCrashDetectPresent'
    'body': 'IsCrashDetectPresent()'
    'description': 'Function from: crashdetect'
    'descriptionMoreURL': 'https://github.com/Zeex/samp-plugin-crashdetect'
