# SIF.MultiButton.pwn snippets for Atom converted from Sublime Completions converted from https://github.com/Southclaw/pawn-sublime-language
# Converter created by Renato "Hii" Garcia
# Repo: https://github.com/Renato-Garcia/sublime-completions-to-atom-snippets
'.source.pwn, .source.inc':
  'CreateMultiButtonTrigger':
    'prefix': 'CreateMultiButtonTrigger'
    'body': 'CreateMultiButtonTrigger(${1:type}, ${2:timewindow}, ${3:list[]}, ${4:count = sizeof(list})'

  'DestroyMultiButtonTrigger':
    'prefix': 'DestroyMultiButtonTrigger'
    'body': 'DestroyMultiButtonTrigger(${1:triggerid})'

  'OnMultiButtonTrigger':
    'prefix': 'OnMultiButtonTrigger'
    'body': 'OnMultiButtonTrigger(${1:triggerid}, ${2:success})'
