# SIF.Container.pwn snippets for Atom converted from Sublime Completions converted from https://github.com/Southclaw/pawn-sublime-language
# Converter created by Renato "Hii" Garcia
# Repo: https://github.com/Renato-Garcia/sublime-completions-to-atom-snippets
'.source.pwn, .source.inc':
  'CreateContainer':
    'prefix': 'CreateContainer'
    'body': 'CreateContainer(${1:name[]}, ${2:size}, ${3:buttonid = INVALID_BUTTON_ID})'

  'DestroyContainer':
    'prefix': 'DestroyContainer'
    'body': 'DestroyContainer(${1:containerid}, ${2:destroyitems = true}, ${3:destroybutton = true})'

  'AddItemToContainer':
    'prefix': 'AddItemToContainer'
    'body': 'AddItemToContainer(${1:containerid}, ${2:itemid}, ${3:playerid = INVALID_PLAYER_ID})'

  'RemoveItemFromContainer':
    'prefix': 'RemoveItemFromContainer'
    'body': 'RemoveItemFromContainer(${1:containerid}, ${2:slotid}, ${3:playerid = INVALID_PLAYER_ID}, ${4:call = 1})'

  'IsValidContainer':
    'prefix': 'IsValidContainer'
    'body': 'IsValidContainer(${1:containerid})'

  'GetContainerButton':
    'prefix': 'GetContainerButton'
    'body': 'GetContainerButton(${1:containerid})'

  'GetContainerName':
    'prefix': 'GetContainerName'
    'body': 'GetContainerName(${1:containerid}, ${2:name[]})'

  'GetContainerSize':
    'prefix': 'GetContainerSize'
    'body': 'GetContainerSize(${1:containerid})'

  'SetContainerSize':
    'prefix': 'SetContainerSize'
    'body': 'SetContainerSize(${1:containerid}, ${2:size})'

  'GetContainerItemCount':
    'prefix': 'GetContainerItemCount'
    'body': 'GetContainerItemCount(${1:containerid})'

  'GetContainerSlotItem':
    'prefix': 'GetContainerSlotItem'
    'body': 'GetContainerSlotItem(${1:containerid}, ${2:slotid})'

  'IsContainerSlotUsed':
    'prefix': 'IsContainerSlotUsed'
    'body': 'IsContainerSlotUsed(${1:containerid}, ${2:slotid})'

  'IsContainerFull':
    'prefix': 'IsContainerFull'
    'body': 'IsContainerFull(${1:containerid})'

  'IsContainerEmpty':
    'prefix': 'IsContainerEmpty'
    'body': 'IsContainerEmpty(${1:containerid})'

  'WillItemTypeFitInContainer':
    'prefix': 'WillItemTypeFitInContainer'
    'body': 'WillItemTypeFitInContainer(${1:containerid}, ${2:ItemType:itemtype})'

  'GetContainerFreeSlots':
    'prefix': 'GetContainerFreeSlots'
    'body': 'GetContainerFreeSlots(${1:containerid})'

  'GetItemContainer':
    'prefix': 'GetItemContainer'
    'body': 'GetItemContainer(${1:itemid})'

  'GetItemContainerSlot':
    'prefix': 'GetItemContainerSlot'
    'body': 'GetItemContainerSlot(${1:itemid})'

  'GetButtonContainer':
    'prefix': 'GetButtonContainer'
    'body': 'GetButtonContainer(${1:buttonid})'

  'OnContainerCreate':
    'prefix': 'OnContainerCreate'
    'body': 'OnContainerCreate(${1:containerid})'

  'OnContainerDestroy':
    'prefix': 'OnContainerDestroy'
    'body': 'OnContainerDestroy(${1:containerid})'

  'OnItemAddToContainer':
    'prefix': 'OnItemAddToContainer'
    'body': 'OnItemAddToContainer(${1:containerid}, ${2:itemid}, ${3:playerid})'

  'OnItemAddedToContainer':
    'prefix': 'OnItemAddedToContainer'
    'body': 'OnItemAddedToContainer(${1:containerid}, ${2:itemid}, ${3:playerid})'

  'OnItemRemoveFromContainer':
    'prefix': 'OnItemRemoveFromContainer'
    'body': 'OnItemRemoveFromContainer(${1:containerid}, ${2:slotid}, ${3:playerid})'

  'OnItemRemovedFromContainer':
    'prefix': 'OnItemRemovedFromContainer'
    'body': 'OnItemRemovedFromContainer(${1:containerid}, ${2:slotid}, ${3:playerid})'
